SoftResBusiness/Connected Services/ReservaxMesaWSClient/reservaxmesa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softres.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="reservaxmesa" targetNamespace="http://services.softres.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftResWSCliente/reservaxmesa?xsd=1" namespace="http://services.softres.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="liberarMesas">
    <part name="parameters" element="tns:liberarMesas" />
  </message>
  <message name="liberarMesasResponse">
    <part name="parameters" element="tns:liberarMesasResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="obtenerMesasDeReserva">
    <part name="parameters" element="tns:obtenerMesasDeReserva" />
  </message>
  <message name="obtenerMesasDeReservaResponse">
    <part name="parameters" element="tns:obtenerMesasDeReservaResponse" />
  </message>
  <message name="verificarDisponibilidad">
    <part name="parameters" element="tns:verificarDisponibilidad" />
  </message>
  <message name="verificarDisponibilidadResponse">
    <part name="parameters" element="tns:verificarDisponibilidadResponse" />
  </message>
  <portType name="ReservaxMesa">
    <operation name="liberarMesas">
      <input wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/liberarMesasRequest" message="tns:liberarMesas" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/liberarMesasResponse" message="tns:liberarMesasResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/liberarMesas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/liberarMesas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerMesasDeReserva">
      <input wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/obtenerMesasDeReservaRequest" message="tns:obtenerMesasDeReserva" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/obtenerMesasDeReservaResponse" message="tns:obtenerMesasDeReservaResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/obtenerMesasDeReserva/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/obtenerMesasDeReserva/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="verificarDisponibilidad">
      <input wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/verificarDisponibilidadRequest" message="tns:verificarDisponibilidad" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/verificarDisponibilidadResponse" message="tns:verificarDisponibilidadResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/verificarDisponibilidad/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/ReservaxMesa/verificarDisponibilidad/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="ReservaxMesaPortBinding" type="tns:ReservaxMesa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="liberarMesas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerMesasDeReserva">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="verificarDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="reservaxmesa">
    <port name="ReservaxMesaPort" binding="tns:ReservaxMesaPortBinding">
      <soap:address location="http://localhost:8080/SoftResWSCliente/reservaxmesa" />
    </port>
  </service>
</definitions>