SoftResBusiness/Connected Services/ReservaxMesaWSClient/reservaxmesa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softres.pucp.edu.pe/" targetNamespace="http://services.softres.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="insertar" type="tns:insertar" />
  <xs:element name="insertarResponse" type="tns:insertarResponse" />
  <xs:element name="listar" type="tns:listar" />
  <xs:element name="listarResponse" type="tns:listarResponse" />
  <xs:complexType name="reservaxMesasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="mesa" type="tns:mesaDTO" />
      <xs:element minOccurs="0" name="reserva" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mesaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoMesa" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idMesa" type="xs:int" />
      <xs:element minOccurs="0" name="local" type="tns:localDTO" />
      <xs:element minOccurs="0" name="numeroMesa" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMesa" type="tns:tipoMesaDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadMesas" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idLocal" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sede" type="tns:sedeDTO" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sedeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarios" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoMesaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoMesa" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad_personas" type="xs:int" />
      <xs:element minOccurs="0" name="descripcionEvento" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoReserva" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_Hora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="filaEspera" type="tns:filaEsperaDTO" />
      <xs:element minOccurs="0" name="idReserva" type="xs:int" />
      <xs:element minOccurs="0" name="local" type="tns:localDTO" />
      <xs:element minOccurs="0" name="motivoCancelacion" type="tns:motivosCancelacionDTO" />
      <xs:element minOccurs="0" name="nombreEvento" type="xs:string" />
      <xs:element minOccurs="0" name="numeroMesas" type="xs:int" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMesa" type="tns:tipoMesaDTO" />
      <xs:element minOccurs="0" name="tipoReserva" type="tns:tipoReserva" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filaEsperaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoFilaEspera" />
      <xs:element minOccurs="0" name="idFila" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadReservacion" type="xs:int" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaContratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreComp" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
      <xs:element minOccurs="0" name="sueldo" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumentoDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="esCliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDocumentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="motivosCancelacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idMotivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reservaxMesasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservaxMesasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reservaxMesasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoMesa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="RESERVADA" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
      <xs:enumeration value="DESECHADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELADA" />
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="CONFIRMADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoFilaEspera">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="CONFIRMADA" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="VACIO" />
      <xs:enumeration value="NOTIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMUN" />
      <xs:enumeration value="EVENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>