SoftResBusiness/Connected Services/ReporteReservaWSClient/reporteReserva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softres.pucp.edu.pe/" targetNamespace="http://services.softres.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reporteReserva" type="tns:reporteReserva" />
  <xs:element name="reporteReservaResponse" type="tns:reporteReservaResponse" />
  <xs:complexType name="reporteReserva">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>