SoftResBusiness/Connected Services/UsuarioWSClient/usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softres.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="usuarios" targetNamespace="http://services.softres.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftResWSCliente/usuarios?xsd=1" namespace="http://services.softres.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="existeDoc">
    <part name="parameters" element="tns:existeDoc" />
  </message>
  <message name="existeDocResponse">
    <part name="parameters" element="tns:existeDocResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="modificar">
    <part name="parameters" element="tns:modificar" />
  </message>
  <message name="modificarResponse">
    <part name="parameters" element="tns:modificarResponse" />
  </message>
  <message name="cambiarcontrasena">
    <part name="parameters" element="tns:cambiarcontrasena" />
  </message>
  <message name="cambiarcontrasenaResponse">
    <part name="parameters" element="tns:cambiarcontrasenaResponse" />
  </message>
  <message name="eliminar">
    <part name="parameters" element="tns:eliminar" />
  </message>
  <message name="eliminarResponse">
    <part name="parameters" element="tns:eliminarResponse" />
  </message>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="listar">
    <part name="parameters" element="tns:listar" />
  </message>
  <message name="listarResponse">
    <part name="parameters" element="tns:listarResponse" />
  </message>
  <message name="existeEmail">
    <part name="parameters" element="tns:existeEmail" />
  </message>
  <message name="existeEmailResponse">
    <part name="parameters" element="tns:existeEmailResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <portType name="Usuario">
    <operation name="existeDoc">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeDocRequest" message="tns:existeDoc" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeDocResponse" message="tns:existeDocResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeDoc/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeDoc/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="modificar">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/modificarRequest" message="tns:modificar" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/modificarResponse" message="tns:modificarResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/modificar/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/modificar/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="cambiarcontrasena">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/cambiarcontrasenaRequest" message="tns:cambiarcontrasena" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/cambiarcontrasenaResponse" message="tns:cambiarcontrasenaResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/cambiarcontrasena/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/cambiarcontrasena/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminar">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/eliminarRequest" message="tns:eliminar" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/eliminarResponse" message="tns:eliminarResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/eliminar/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/eliminar/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="insertar">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/insertarRequest" message="tns:insertar" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/insertarResponse" message="tns:insertarResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/insertar/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/insertar/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="login">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/loginRequest" message="tns:login" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/loginResponse" message="tns:loginResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/login/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/login/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listar">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/listarRequest" message="tns:listar" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/listarResponse" message="tns:listarResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/listar/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/listar/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="existeEmail">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeEmailRequest" message="tns:existeEmail" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeEmailResponse" message="tns:existeEmailResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeEmail/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/existeEmail/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://services.softres.pucp.edu.pe/Usuario/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://services.softres.pucp.edu.pe/Usuario/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/obtenerPorId/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softres.pucp.edu.pe/Usuario/obtenerPorId/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="UsuarioPortBinding" type="tns:Usuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="existeDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="cambiarcontrasena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="existeEmail">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="usuarios">
    <port name="UsuarioPort" binding="tns:UsuarioPortBinding">
      <soap:address location="http://localhost:8080/SoftResWSCliente/usuarios" />
    </port>
  </service>
</definitions>