SoftResBusiness/Connected Services/HorarioxSedeWSClient/horarioxsede.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softres.pucp.edu.pe/" targetNamespace="http://services.softres.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="insertar" type="tns:insertar" />
  <xs:element name="insertarResponse" type="tns:insertarResponse" />
  <xs:element name="listar" type="tns:listar" />
  <xs:element name="listarResponse" type="tns:listarResponse" />
  <xs:complexType name="horariosxSedesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horarioAtencionDTO" />
      <xs:element minOccurs="0" name="sede" type="tns:sedeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horarioAtencionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaSemana" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="esFeriado" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element minOccurs="0" name="idHorario" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sedeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarios" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:horariosxSedesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horariosxSedesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:horariosxSedesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LUNES" />
      <xs:enumeration value="MARTES" />
      <xs:enumeration value="MIERCOLES" />
      <xs:enumeration value="JUEVES" />
      <xs:enumeration value="VIERNES" />
      <xs:enumeration value="SABADO" />
      <xs:enumeration value="DOMINGO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>